@if (booking) {
  <div class="booking-wrapper shadow-sm rounded">

    <!-- Header -->
    <div class="booking-header d-flex align-items-center">
      <i class="bi bi-check-circle-fill text-success fs-4 me-2"></i>
      <h4 class="mb-0 fw-semibold">Appointment Booked!</h4>
    </div>
    <p class="text-muted small ms-4">You will receive a confirmation email shortly.</p>

    <!-- Content Card -->
    <div class="booking-card p-4">
      <h5 class="section-title mb-3">Booking Details</h5>

      <ul class="list-group list-group-flush">

        @if (service) {
        <li class="list-group-item">
          <span class="label">Service:</span>
          <span class="value">{{ service.name }}</span>
        </li>
        }

        @if (user) {
        <li class="list-group-item">
          <span class="label">User:</span>
          <span class="value">{{ user | titlecase }}</span>
        </li>
        }

        @if (barber) {
        <li class="list-group-item">
          <span class="label">Barber:</span>
          <span class="value">{{ barber | titlecase }}</span>
        </li>
        }

        <li class="list-group-item">
          <span class="label">Status:</span>
          <span class="badge bg-info ms-2">{{ booking.status | titlecase }}</span>
        </li>

        <li class="list-group-item">
          <span class="label">Date & Time:</span>
          <div class="value">
            {{ booking.slotDetails.date | date : "fullDate" }} <br />
            {{ formatTimeUTC(booking.slotDetails.startTime) }} -
            {{ formatTimeUTC(booking.slotDetails.endTime) }}
          </div>
        </li>

        <li class="list-group-item">
          <span class="label">Total Price:</span>
          <span class="value">₹{{ booking.totalPrice }}</span>
        </li>

        @if(booking.discountAmount > 0) {
        <li class="list-group-item text-success">
          <span class="label">Discount:</span>
          <span class="value">-₹{{ booking.discountAmount }}</span>

          @if(booking.couponCode) {
          <span class="badge bg-light text-dark ms-2">
            Coupon: {{ booking.couponCode }}
          </span>
          }
        </li>
        }

        <li class="list-group-item final-price-row">
          <span class="label">Final Price:</span>
          <span class="final-price">₹{{ booking.finalPrice }}</span>
        </li>
      </ul>
    </div>
  </div>
}
