<app-admin-header></app-admin-header>

<div class="admin-layout">
  <app-admin-sidebar></app-admin-sidebar>

  <div class="admin-main-content p-4">
    <h2 class="dashboard-title">Admin Dashboard</h2>

    <div class="d-flex justify-content-between align-items-center mb-3">

      <select
        class="form-select w-auto"
        [(ngModel)]="selectedFilter"
        (change)="loadStats()"
      >
        <option>1 Day</option>
        <option>1 Week</option>
        <option>1 Month</option>
        <option>1 Year</option>
      </select>
    </div>

    <div *ngIf="stats" class="dashboard-charts">
      <app-chart
        [chartData]="stats.bookings.data"
        [chartLabels]="stats.bookings.labels"
        chartTitle="Bookings Overview"
      >
      </app-chart>

      <app-chart
        [chartData]="stats.revenue.data"
        [chartLabels]="stats.revenue.labels"
        chartTitle="Revenue Overview"
      >
      </app-chart>

      <app-chart
        [chartData]="stats.services.data"
        [chartLabels]="stats.services.labels"
        chartTitle="Services Overview"
      >
      </app-chart>
    </div>

    <app-admin-footer></app-admin-footer>
  </div>
</div>
