<app-barber-header></app-barber-header>

<div class="barber-layout">
  <app-barber-sidebar></app-barber-sidebar>

  <div class="barber-main-content">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <select
        class="form-select w-auto"
        [(ngModel)]="selectedType"
        (change)="loadStats()"
      >
        <option value="bookings">Bookings</option>
        <option value="revenue">Revenue</option>
      </select>

      <select
        class="form-select w-auto"
        [(ngModel)]="selectedFilter"
        (change)="loadStats()"
      >
        <option>1 Day</option>
        <option>1 Week</option>
        <option>1 Month</option>
        <option>1 Year</option>
      </select>
    </div>
    <div class="barber-dashboard-page">
      <div *ngIf="stats">
        <div class="summary mb-4">
          <div class="stat-card">
            <h3>{{ stats.total }}</h3>
            <p>
              {{
                selectedType === "bookings" ? "Total Bookings" : "Total Revenue"
              }}
            </p>
          </div>
        </div>

        <app-chart
          [chartData]="stats.data"
          [chartLabels]="stats.labels"
          [chartTitle]="
            selectedType === 'bookings'
              ? 'Bookings Overview'
              : 'Revenue Overview'
          "
        >
        </app-chart>
      </div>
    </div>

    <app-barber-footer></app-barber-footer>
  </div>
</div>
