<app-user-header></app-user-header>

<div class="simple-barber-header">
  <h2 class="barber-title">Favorites</h2>
</div>

<div class="barbers-section">
  <div class="barber-cards" *ngIf="barbers.length; else noResults">
    <app-barber-card
  *ngFor="let barber of barbers"
  [barber]="barber"
  [isFavorite]="true"
  (favoriteToggle)="toggleFavorite(barber.id)"
></app-barber-card>
  </div>

  <ng-template #noResults>
    <p style="text-align:center; padding:20px; color:#555;">No favorites found.</p>
  </ng-template>

  <div class="pagination" *ngIf="totalPages > 1">
    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Prev</button>
    <span *ngFor="let page of [].constructor(totalPages); let i = index" 
          [class.active]="currentPage === i+1"
          (click)="changePage(i + 1)">
      {{ i + 1 }}
    </span>
    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>

<app-user-footer></app-user-footer>
