<app-admin-header></app-admin-header>

<div class="admin-layout">
  <app-admin-sidebar></app-admin-sidebar>

  <div class="admin-main-content">
    <div class="barber-list-page">
      <h1 class="barber-list-title">Barber Management</h1>

      <app-admin-table
  [data]="barbers"
  [columns]="columns"
  [currentPage]="currentPage"
  [itemsPerPage]="itemsPerPage"
  [totalPages]="totalPages"
  (onPageChange)="changePage($event)"
  (onToggleStatus)="updateBarberStatus($event)"
  (onSearch)="searchChanged($event)">
</app-admin-table>

      <app-admin-footer></app-admin-footer>
    </div>
  </div>
</div>
