@import '../user-home/user-home.component.css';

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 6px;
}

.pagination button,
.pagination span {
  padding: 8px 12px;
  border: 1px solid #c4b5fd;
  background: white;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  transition: 0.2s;
}

.pagination span.active {
  background-color: #9333ea;
  color: white;
  border-color: #9333ea;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.simple-barber-header {
  background-color: #f6f3ff;
  padding: 40px 20px;
  text-align: center;
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.barber-title{
    padding-top: 40px
}
.district-dropdown {
  padding: 8px 12px;
  border: 1px solid #ccc;
  min-width: 150px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' stroke='%23666' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 9l-7 7-7-7'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px 16px;
}