<app-user-header></app-user-header>

<div class="user-home">
  <div class="overlay">
    <div class="home-content">
      <h1 class="main-title">Find Your Perfect Stylist</h1>
      <p class="sub-title">
        Discover the Best Barbers And Stylists in your city
      </p>
      
    </div>
  </div>
</div>

<div class="barbers-section">
  <div class="section-header">
    <h2>Barbers</h2>
    <a class="view-all-btn" (click)="redirectToBarbers()">All Barbers</a>
  </div>

  <div class="barber-cards">
    <app-barber-card
  *ngFor="let barber of latestBarbers"
  [barber]="barber"
  [isFavorite]="favoriteIds.includes(barber.id)"
  (favoriteToggle)="toggleFavorite(barber.id)"
></app-barber-card>

  </div>
</div>

<app-user-footer></app-user-footer>
