<app-user-header></app-user-header>

<div class="user-profile-container">
  <div class="loaderClass" *ngIf="isUploading" class="text-center mt-2">
              <div class="spinner-border" role="status"></div>
            </div>
            
  <app-profile
  [profile]="userProfile"
  (edit)="onEditProfile()"
  (uploadRequested)="openUpload($event)"
  (deletePic)="deleteProfilePicture()"
></app-profile>

</div>

<app-edit-profile
  *ngIf="showEditModal"
  [profile]="userProfile"
  (save)="updateProfile($event)"
  (close)="showEditModal = false"
></app-edit-profile>

<app-file-upload
  (fileSelected)="updateProfilePicture($event)"
  (close)="closeUploadModal()"
></app-file-upload>

<app-user-footer></app-user-footer>
