<div
  class="modal fade"
  id="uploadModal"
  tabindex="-1"
  aria-labelledby="uploadModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadModalLabel">
          {{ modalMode === 'upload' ? 'Upload' : 'Update' }} Profile Picture
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="onClose()"
        ></button>
      </div>

      <div class="modal-body text-center">
        <input
          type="file"
          class="form-control mb-3"
          accept="image/*"
          (change)="onFileSelected($event)"
        />
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="onClose()"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!selectedFile"
          (click)="onSubmitUpload()"
        >
          {{ modalMode === 'upload' ? 'Upload' : 'Update' }}
        </button>
      </div>
    </div>
  </div>
</div>
