<app-user-header></app-user-header>

<div class="user-booking-wrapper">
  <h2 class="heading">My Bookings</h2>

  <!-- Status Tabs -->
  <div class="status-tabs">
    <button
      *ngFor="let s of statuses"
      [class.active]="selectedStatus === s.value"
      (click)="changeStatus(s.value)"
    >
      {{ s.label }}
    </button>
  </div>

  <div class="table">
    <table class="user-booking-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Date</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Status</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of bookings; let i = index">
          <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
          <td>{{ booking.slotDetails.date | date : "shortDate" }}</td>
          <td>{{ formatTimeUTC(booking.slotDetails.startTime) }}</td>
          <td>{{ formatTimeUTC(booking.slotDetails.endTime) }}</td>
          <td>
            <span class="status-badge" [ngClass]="booking.status">
              {{ booking.status }}
            </span>
          </td>
          <td>₹{{ booking.totalPrice }}</td>
          <td>
            <!-- Pending bookings: Cancel -->
            <button
              class="btn-primary"
              *ngIf="booking.status === 'pending'"
              (click)="cancelBooking(booking)"
            >
              Cancel
            </button>

            <!-- Finished bookings: Leave Review -->
            <button
              class="btn btn-success"
              *ngIf="booking.status === 'finished'"
              (click)="leaveReview(booking)"
            >
              Review
            </button>

            @if(booking.status === "staged"){
            <button class="btn-primary" (click)="retryPayment(booking.id)">
              Retry Payment
            </button>
            }

            <!-- Cancelled bookings: No action -->
            <span
              *ngIf="
                booking.status === 'cancelled_by_user' ||
                booking.status === 'cancelled_by_barber'
              "
            >
              No action
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Review Modal -->
<app-review-form
  [visible]="reviewModalVisible"
  (submitReview)="handleReviewSubmit($event)"
  (closeForm)="reviewModalVisible = false"
></app-review-form>


  <div class="pagination-controls">
    <button
      [disabled]="currentPage === 1"
      (click)="handlePageChange(currentPage - 1)"
    >
      Previous
    </button>

    <ng-container *ngFor="let page of pages">
      <button
        [class.active]="currentPage === page"
        (click)="handlePageChange(page)"
      >
        {{ page }}
      </button>
    </ng-container>

    <button
      [disabled]="currentPage === totalPages"
      (click)="handlePageChange(currentPage + 1)"
    >
      Next
    </button>
  </div>
</div>

<app-checkout-modal
  *ngIf="stagedBooking"
  [barber]="checkoutData.barber"
  [service]="checkoutData.service"
  [startTime]="stagedBooking.slotDetails.startTime"
  [endTime]="stagedBooking.slotDetails.endTime"
  [booking]="stagedBooking"
  (onCouponApplication)="couponApllication($event)"
  (onConfirm)="retryPayment(stagedBooking.id, $event)"
  (onCancel)="stagedBooking = null"
></app-checkout-modal>


<app-user-footer></app-user-footer>
