<div class="barber-layout">
  <!-- Sidebar -->
  <app-barber-sidebar class="barber-sidebar"></app-barber-sidebar>

  <!-- Main Content -->
  <div class="barber-main-content">
    <!-- Header -->
    <app-barber-header></app-barber-header>

    <!-- Page Content -->
    <div class="barber-dashboard-page">
      <div class="overlay">
        <div class="dashboard-content">
          <div class="admin-sign-in">Barber Profile</div>

          <div class="user-profile-container">
            <div class="loaderClass" *ngIf="isUploading" class="text-center mt-2">
              <div class="spinner-border" role="status"></div>
            </div>
            <!-- profile emits uploadRequested, parent opens modal -->
            <app-profile
              [profile]="barberProfile"
              (edit)="onEditProfile()"
              (uploadRequested)="openUpload($event)"
              (deletePic)="deleteProfilePicture()"
            ></app-profile>

            <app-address
              [address]="barberProfile.address || {}"
              (editAddress)="onEditAddress()"
            ></app-address>
          </div>

          <app-file-upload
            (fileSelected)="updateProfilePicture($event)"
            (close)="closeUploadModal()"
          ></app-file-upload>

          <app-edit-profile
            *ngIf="showEditModal"
            [profile]="barberProfile"
            (save)="updateProfile($event)"
            (close)="showEditModal = false"
          ></app-edit-profile>

          <app-address-form
            *ngIf="showEditAddressModal"
            [address]="barberProfile.address"
            (save)="updateBarberAddress($event)"
            (close)="showEditAddressModal = false"
          ></app-address-form>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <app-barber-footer></app-barber-footer>
  </div>
</div>
